<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post" enctype="multipart/form-data" action="/demo/upload">
        上传：<input type="file" name="file">
        <input type="submit" value="上传">
    </form>

    <br/>

    <a href="/demo/download?filename=2018-07-02/01542739510442d8b3c495938973236f.docx">下载</a>

    <img src="/demo/download?filename=2018-06-30/dd9cca9215154be0a5ce4045f74a1f97.PNG">
    <img src="/image/2018-06-30/dd9cca9215154be0a5ce4045f74a1f97.PNG">




</body>
</html>